/* fonts*/

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Old+Standard+TT&display=swap");

/* custom properties */

:root {
  --off-white: #f2f2f2;
  --black: rgba(0, 0, 16, 0.8);
  --blue: #0365c0;
  --green: #00cc4f;
  --orange: #ffb144;
  --disable: rgba(0, 0, 16.3);
  --shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}

/* reset */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
  font-family: "Lato", sans-serif;
  color: var(--black);
  box-sizing: border-box;
}

header {
  padding: 1rem 2rem;
  background: var(--blue);
  color: var(--off-white);
  font-size: 2rem;
  font-weight: bold;
}

/* main container */

.container {
  padding: 1rem 2rem;
}

/* filters */

.card {
  display: flex;
  background-color: white;
  box-shadow: var(--shadow);
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-card {
  padding: 0.8rem;
}

.filter-container {
  padding: 0.4rem 0.8rem;
}

.filter-text p {
  color: var(--black);
  font-size: 1.3rem;
  padding: 0.3rem;
}

.filter {
  background-color: var(--black);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border: 3px solid var(--blue);
  border-radius: 2.2rem;
}

.filter-form {
  display: flex;
  align-items: center;
}

.filter-all + span {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: var(--off-white);
}

svg {
  fill: var(--off-white);
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input + span,
input + svg {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter-all:hover,
.filter-all:checked + span,
.filter-all:focus + span {
  color: var(--blue);
}

.beer:hover,
.beer:checked + svg,
.beer:focus + svg {
  fill: var(--orange);
}

.hops:hover,
.hops:checked + svg,
.hops:focus + svg {
  fill: var(--green);
}

/* paginations buttons */

.page-btn {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  padding: 0 0.8rem;
  color: var(--off-white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.page-btn:hover {
  color: var(--blue);
}

.page-btn:disabled {
  cursor: default;
  color: var(--disable);
}

/* beers styles*/

.beers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.beer-wrapper {
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.beers .beer {
  display: grip;
  grid-auto-columns: 1fr;
  align-items: end;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.beer .beer__img {
  margin: auto;
  height: 20rem;
}

.beer .beer__info {
  display: flex;
  justify-content: space-between;
}

.beer__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: calc(100% - (1.5rem * 2));
  height: calc(100% - (1.5rem * 2));
  background: white;
  overflow: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.beer__content:hover {
  opacity: 0.92;
}
.beer__name {
  margin: 0 auto 0.5rem auto;
  font-family: "Old Standard TT", serif;
  font-size: 2.4rem;
  line-height: 1.07em;
  letter-spacing: -0.015em;
}
.beer__tagline {
  padding-bottom: 0.5rem;
  font-family: "Old Standard TT", serif;
  font-style: italic;
  border-bottom: 2px solid var(--blue);
}

.beer__description {
  margin: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.beer__food-pairing {
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
